extends /_layout/layout.pug

block variables
  - pageTitle = "Home"


block content
  - thisItem = list.slice(-1).pop()
  h2= siteDesc
  div.loc__item.loc__item--alpha
    h3.loc__line= thisItem.line
    span.loc__info.loc__info--alpha.loc__info--beta.loc__info--gamma= thisItem.language
    span.loc__info.loc__info--alpha.loc__info--beta.loc__info--delta #{formatDate(thisItem.date)}
    .loc__details
      if(thisItem.link)
        a.loc__info.loc__info--epsilon(href=thisItem.link)
          span= thisItem.note
          span.loc__icon= "👀"
      else
        span.loc__info.loc__info--epsilon= thisItem.note
      a(href="/author/silvestar.html").loc__info.loc__info--epsilon= "By: " + thisItem.author

  - var shareTextPlain = encodeURIComponent("Code Line Daily: " + thisItem.line.trim())
  - var shareTextFancy = encodeURIComponent("Code Line Daily:\n" + thisItem.line.trim() + "\n\n")
  - var shareRelated = thisItem.handle ? '&related=' + thisItem.handle : ''
  - var twitterLink = "https://twitter.com/intent/tweet?url=" + siteURL + "&text=" + shareTextFancy + "&hashtags=loc,cld,codelinedaily," + thisItem.language + "&via=" + og.twitter_id + shareRelated;
  - var facebookLink = "https://facebook.com/sharer.php?u=" + siteURL;
  - var redditLink = "https://www.reddit.com/submit?url=" + siteURL + "&title=" + shareTextPlain;

  .share
    p= "Share: "
      a(href=twitterLink, target="_blank", rel="noopener") Twitter
      a(href=facebookLink, target="_blank", rel="noopener") Facebook
      a(href=redditLink, target="_blank", rel="noopener") Reddit
  include:markdown-it(html) index.md
