extends /_layout/layout.pug

block variables
  - pageTitle = "Home"

block content
  article.w.w--alpha.mt--alpha
    h1= siteDesc
  .w.w--beta.mt--alpha
    +cld(thisItem, '')
  .w.w--alpha.mt--alpha
    h2.t-h1= "Archive"
  .w.w--alpha.grid.mt--beta
    each listValue, listIndex in listArchive
      if(listIndex != 0 && listIndex < 3)
        +cld(listValue, 'cld--alpha')
  .w.w--alpha.mt--beta
    a.btn.btn--alpha.btn--beta(href="/archive.html")= "See full archive =>"
  .w.w--alpha.mt--alpha
    h2.t-h1= "Evergreen"
  .w.w--alpha.grid.mt--beta
    each listValue, listIndex in listEvergreen
      if(listIndex < 2)
        +cld(listValue, 'cld--alpha')
  .w.w--alpha.mt--beta
    a.btn.btn--alpha.btn--beta(href="/evergreen.html")= "See evergreen lines =>"
  .w.w--alpha.mt--alpha
    h2.t-h1= "Around the web"
  .w.w--alpha.mt--beta
    a(href= "https://www.producthunt.com/posts/code-line-daily?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-code-line-daily", target="_blank", rel="noopener")
      img(src= "https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=165832&theme=light" alt="Code Line Daily - Explore a new line of code every day | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" )
