extends /_layout/layout.pug

block variables
  - pageTitle = "Home"

block content
  article.w.w--alpha.mt--alpha
    h1= siteDesc
  .w.w--beta.mt--alpha
    +cld(thisItem, '')
  .w.w--alpha.mt--alpha
    h2.t-h1= "Archive"
  .w.w--alpha.grid.mt--beta
    each listValue, listIndex in listArchive
      if(listIndex != 0 && listIndex < 3)
        +cld(listValue, 'cld--alpha')
  .w.w--alpha.mt--beta
    a.btn.btn--alpha.btn--beta(href="/archive.html")= "See full archive =>"
  .w.w--alpha.mt--alpha
    h2.t-h1= "Evergreen"
  .w.w--alpha.grid.mt--beta
    each listValue, listIndex in listEvergreen
      if(listIndex < 2)
        +cld(listValue, 'cld--alpha')
  .w.w--alpha.mt--beta
    a.btn.btn--alpha.btn--beta(href="/evergreen.html")= "See evergreen lines =>"
