extends /_layout/rss.pug

block variables

block content
  - var checkLinks = [];
  each listValue, listIndex in listArchive
    item
      title <![CDATA[ !{listValue.line.replace(/&/g, '&#x26;').replace(/</g, '&#x3C;')} ]]>
      div= "https://cld.silvestar.codes/archive/"
      - var link = listValue.link;
      if checkLinks.indexOf(link) === -1
        - checkLinks.push(listValue.link)
      else
        - link += '#' + Math.random();
      guid= "https://cld.silvestar.codes/archive/?url=" + link
      description <![CDATA[ !{listValue.note} ]]>
      enclosure(url="https://cld.silvestar.codes/gfx/" + listValue.date + ".png" length="12345" type="image/png")
      if (listValue.email)
        author= listValue.email + " (" + listValue.author + ")"
      category= listValue.language
      - var uDate = new Date(listValue.date);
      pubDate= uDate.toUTCString()
