extends /_layout/rss.pug

block variables

block content
  each listValue, listIndex in listArchive
    item
      title= listValue.line
      div= "https://cld.silvestar.codes/archive/"
      guid= "https://cld.silvestar.codes/archive/"
      description= listValue.note
      author= listValue.author
      category= listValue.language
      - var uDate = new Date(listValue.date);
      pubDate= uDate.toUTCString()
