include /_mixins/variables.pug

doctype xml
rss(version="2.0", xmlns:content="http://purl.org/rss/1.0/modules/content/", xmlns:atom='http://www.w3.org/2005/Atom')
  channel
    title= siteName
    div= siteURL
    atom:link(href="https://cld.silvestar.codes/rss.xml", rel="self", type="application/rss+xml")
    description= siteDesc
    - var pDate = new Date('2019-08-01');
    pubDate= pDate.toUTCString()
    - var bDate = new Date();
    lastBuildDate= bDate.toUTCString()
    generator= siteName + " Feed generator"

    block content
